html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body,
input,
textarea{
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;

}
header {
  grid-area: header;
  color: gold;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 27);
}
a:hover{
   color:#fff;
}
header a {
  color: gold;
  text-decoration: none;
} 
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: rgb(0, 0, 27);
  color: gold;
  display: flex;
  align-items: center;
  justify-content: center;
}
