@import url("https://fonts.googleapi.com/css?family=Montserrat&display=swap");
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	background-color: rgba(211, 211, 211, 0.219);
}
body,
#root {
	height: 100vh;
	margin: 0;
}

body,
input,
button,
select,
textarea {
	font-size: 1.6rem;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.grid-container {
	display: grid;
	grid-template-areas: "header" "main" "footer";
	grid-template-rows: 4rem 1fr 4rem;
	grid-template-columns: 1fr;
	height: 100%;
}
header {
	grid-area: header;
	color: gold;
	display: flex;
	align-items: center;
	background-color: rgb(0, 0, 27);
}
a:hover {
	color: rgba(36, 35, 35, 0.808);
}
a {
	text-decoration: none;
	color: rgb(100, 73, 4);
}
header a {
	color: gold;
	text-decoration: none;
}
main {
	grid-area: main;
}
footer {
	grid-area: footer;
	background-color: rgb(0, 0, 27);
	color: gold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-wrap: wrap;
}

.main {
	flex: 3 60rem;
}

.cartBar {
	flex: 1 20rem;
}

/* product */

.products {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}
.products li {
	flex: 0 1 20rem;
	height: 47rem;
	padding: 1rem;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.product img{
	max-height: 37rem;
	max-width: 37rem;
}


.product-price {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.product-price div,
.product-price button {
	text-align: center;
	flex: 1;
}

.product-price div {
	font-size: 2rem;
}

.btn {
	padding: 1rem;
	border: .1rem cadetblue;
	background-color: #c0c0c0;
	cursor: pointer;
}

.btn:hover {
	border: 0.1rem #808080 solid;
}
.primary {
	background: #ffc040;
}

/* filtered component */

.filter {
	display: flex;
	padding: 1rem;
	margin: 1rem;
	justify-content: space-between;
	border-bottom: 0.2rem #c0c0c0 solid;
}

.filter div {
	flex: 1;
}

/* cart component  */

.cart {
	padding: 1rem;
	margin: 1rem;
	display: flex;
}

.cart-header {
	border-bottom: .2rem #c0c0c0 solid;
}

.cart-items {
	padding: 0;
	width: 100%;
	list-style-type: none;
}

.cart-items img {
	width: 5rem;
}

.cart-items li {
	display: flex;
}

.cart-items li div {
	padding: 0.5rem;
}

.cart-items li div:last-child {
	flex: 1;
}

.right {
	text-align: right;
}

.total {
	width: 100%;
	display: flex;
	align-items: center;

	justify-content: space-between;
}

div > .total {
	font-size: 2rem;
}

.total > div,
.total > button {
	flex: 1;
	margin: 1.6rem;
}

/* check out form  */
form{
	width: 100%;
}
input {
	padding: 1rem;
	border: none;
	border-bottom: .2rem solid #c0c0c0;
}
.form-container {
	padding: 0;
	width: 100%;
	list-style-type: none;
}

.form-container li{
	padding: 1rem;
   display: flex;
   flex-direction: column;
}

/* product details */

.product-details{
	display: flex;
	flex-wrap: wrap;
	max-height: 96vh;
	justify-content: space-between;

}

.product-details img{
	max-width: 56rem;
	max-height: 100vh;
	margin: 0 auto;
}

.product-discription{
     flex: 1 1;
	 margin: 1rem;
}

.closeModal {
    position: absolute;
	right: 1rem ;
	top: 2.5rem;
	z-index: 1000;
}